<header class="button heightfifth">
    <h1>{{name}}</h1>
</header>

<a href="#" id="btnAdd" class="button heightfifth orange fixed"><span>Add checkpoint</span></a>

{{#if checkpoints}}
    <p class="button black heightfifth"></p>

    {{#each checkpoints}}
        <a href="{{id}}" class="btnCheckpoint button first heightfifth"><span>{{checkpoint}}</span></a>
    {{/each}}
{{/if}}

<p class="button black heightfifth"></p>

<a href="{{id}}" id="btnClose"><span data-icon="&#xe002;"></span></a>

