<header class="button heightfifth">
    <h1>{{name}}</h1>
</header>

<a href="#" id="btnAdd" class="button heightfifth orange fixed"><span>Add a friend</span></a>

<a class="btnTrip button first heightfifth"></a>

{{#each friends}}
    <a href="{{id}}" class="btnCheckpoint button first heightfifth"><span>{{username}}</span></a>
{{/each}}

<a class="btnTrip button first heightfifth"></a>


<a href="{{id}}" id="btnClose"><span data-icon="&#xe002;"></span></a>

