<header class="button heightfifth">
    <h1>{{name}}</h1>
</header>

<input type="text" name="txtSearch" id="txtSearch" placeholder="Add a friend..." class="button heightfifth orange fixed" />

<p class="button black heightfifth"></p>

<ul id="searchresults"></ul>

{{#each friends}}
    <a href="{{id}}" class="btnCheckpoint button first heightfifth"><span>{{username}}</span></a>
{{/each}}

<p class="button black heightfifth"></p>

<a href="{{id}}" id="btnClose"><span data-icon="&#xe002;"></span></a>

