<header class="button heightfifth">
    <h1>Tripin'</h1>
</header>

<p class="button black heightfifth"></p>

<form action="/login" method="post">
    <fieldset>
        <input type="text" name="txtUsername" id="txtUsername" tabindex="1"  placeholder="Username" class="button heightthird first" />
        <input type="password" name="txtPassword" id="txtPassword" tabindex="2" placeholder="Password" class="button heightthird second" />
        <input type="submit" name="btnSubmit" id="btnSubmit" tabindex="3" value="Sign in" class="button heightthird orange" />
    </fieldset>
</form>

<a href="#" id="btnRegister" class="button heightfifth black"><span>Sign up</span></a>

