<div id="menu" class="close">
    <ul>
        <li id="liCloseMenu">
            <a href="#" id="btnCloseMenu" data-icon="&#xe002;"></a>
        </li>
        <li>Hi there, {{username}}.</li>
        <li><a href="#" id="btnMenuTrips">Trips</a></li>
        <li><a href="#" id="btnMenuSummary">Trip summary</a></li>
        <li><a href="#" id="btnLogout">Logout</a></li>
    </ul>
</div>

<a href="#" id="btnMenu"><span data-icon="&#xe000;"></span></a>