<form action="/login" method="post">
    <fieldset>
        <input type="text" name="txtCheckpoint" id="txtCheckpoint" tabindex="1" placeholder="Name" class="button heightthird black" />
        <input type="text" name="txtCost" id="txtCost" tabindex="2"  placeholder="Costs" class="button heightquarter first" />
        <input type="date" name="txtDistance" id="txtDistance" tabindex="3" placeholder="Distance" class="button heightquarter second" />
        <input type="time" name="txtTime" id="txtTime" tabindex="4" placeholder="Time" class="button heightquarter third" />
        <input type="text" name="txtTransport" id="txtTransport" tabindex="5" placeholder="Transport" class="button heightquarter fourth" />

        <input type="submit" name="btnSubmit" id="btnSubmit" tabindex="6" value="Add checkpoint" class="button heightthird orange" />
    </fieldset>
</form>

<a href="#" id="btnClose"><span data-icon="&#xe002;"></span></a>
