<form action="/login" method="post">
    <fieldset>
        <input type="text" name="txtName" id="txtName" tabindex="1" placeholder="Name" class="button heightthird first black" />
        <input type="text" name="txtPoint" id="txtPoint" tabindex="2"  placeholder="Startpoint" class="button heightthird first" />
        <input type="date" name="txtDate" id="txtDate" tabindex="3" placeholder="Start date" class="button heightthird second" />
        <input type="time" name="txtTime" id="txtTime" tabindex="4" placeholder="Start time" class="button heightthird third" />
        <input type="submit" name="btnSubmit" id="btnSubmit" tabindex="5" value="Add trip" class="button heightthird orange" />
    </fieldset>
</form>

<a href="#" id="btnClose"><span data-icon="&#xe002;"></span></a>
