<header class="heightfifth button">
    <!--<h1 id="logo"><span class="display-none">Tripin'</span></h1>-->
    <h1>Tripin'</h1>
</header>

<p class="button black heightfifth"></p>

<form action="/login" method="post">
    <fieldset>
        <input type="text" name="txtUsername" id="txtUsername" tabindex="1"  placeholder="Username" class="button heightthird first" />
        <input type="password" name="txtPassword" id="txtPassword" tabindex="2" placeholder="Password" class="button heightthird second" />
        <input type="password" name="txtPassword2" id="txtPassword2" tabindex="3" placeholder="Confirm password" class="button heightthird third" />
        <input type="submit" name="btnSubmit" id="btnSubmit" tabindex="3" value="Sign up" class="button heightthird orange" />
    </fieldset>
</form>

<a href="#" id="btnClose"><span data-icon="&#xe002;"></span></a>

