<header class="button heightfifth">
    <h1>Trips</h1>
</header>

<a href="#" id="btnAdd" class="button heightfifth orange fixed"><span>Add trip</span></a>

<a class="btnTrip button first heightfifth"></a>

{{#each trips}}
    <a href="{{id}}" class="btnTrip button first heightfifth"><span>{{name}}</span></a>
{{/each}}


