<header class="button heightfifth">
    <h1>Trips<span class="spanicon closer" data-icon="&#xe006;"></span></h1>
</header>

<a href="#" id="btnAdd" class="button heightfifth orange fixed"><span>Add trip<span class="spanicon closer" data-icon="&#xe003;"></span></span></a>

<p class="button black heightfifth"></p>

{{#each trips}}
    <a href="{{id}}" class="btnTrip button first heightfifth"><span>{{name}}</span></a>
{{/each}}

<p class="button black heightfifth"></p>

